<header
  class="container mx-auto px-4 py-6 xl:px-0 flex justify-between items-center selection:bg-cyan-700 selection:text-white"
>
  <a href="/">
		<img width="60" height="60" src="/logo-cyan.svg" alt="logo-cyan" />
	</a>
  <ul class="flex justify-between items-center">
    <li>
      <a
        class="text-black hover:text-cyan-700"
        href="https://soumyanildas.com"
        target="_blank">Home</a
      >
    </li>
  </ul>
</header>